#column1 {
    background-color: yellow;
    width: 80%;
    height: 100%;
    float: left;
}

#column2 {
    background-color: cyan;
    width: 20%;
    height: 100%;
    float: left;
}


#interface {
    background-color: blue;
    width: 100%;
    height: 600px;
}

#items {
    background-color: red;
    width: 100%;
    height: 200px;
}



#stocks {
    background-color: green;o
    width: 100%;
    height: 800px;
}


.item {
    width: 150px;
    height: 200px;
}

.stock {
    width: 100px;
    height: 133px;
}